<form [formGroup]="userForm">
        <div class="form-group">
               <label for="firstName">First Name</label>
               <input formControlName="firstName" class="col-md-6" class="form-control">
        </div>
        <div class="form-group">
               <label for="middleName">Middle Name</label>
               <input formControlName="middleName" class="col-md-6" class="form-control">
        </div>
        <div class="form-group">
               <label for="lastName">Last Name</label>
               <input formControlName="lastName" class="col-md-6" class="form-control">
        </div>     
        <button class="btn btn-secondary"  (click)="editUser()">Submit</button>
        &nbsp;
        <button class="btn btn-dark" (click)="clearForm()">Clear</button>
</form>